{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Add a New Review</h1>
    <ul class="list-group list-group-flush" id="reviews">
      {% for review in user.reviews %}
      <li class="list-group-item">
        {{ review.data }}
        <button type="button" class="close" onClick="deleteReview({ review,id })">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
        <h4>Add Company Name</h4>
        <textarea name="company_name" id="company_name" class="form-control"></textarea>
        <br />
        <h4>Write Your Review</h4>
      <textarea name="review" id="review" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Review</button>
      </div>
    </form>
    {% endblock %}